# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dropbox\Uni\Kent\CO871 - Advanced Java for Programmers\Assessment 1\zuul-bad-extended\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Compiled class files
*.class
/../*.class